footer{
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 15px;

    @media (min-width: 600px){
        font-size: 20px;
    }

    @media (min-width: 1000px){
        font-size: 25px;
    }

    img{
        width: 80%;

        @media (min-width: 1000px){
            width: 50%;
        }
    }

}